# BEGIN Theme
SetEnv HTACCESS on
Options -Indexes

<IfModule mod_headers.c>
#    Header always set X-Content-Type-Options "nosniff"
#    Header set X-XSS-Protection "1; mode=block"
#    Header set X-Frame-Options "SAMEORIGIN"
#    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

# Redirect HTTP to HTTPS
<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{HTTPS} !=on
#    RewriteCond %{HTTP:X-Forwarded-Proto} !https
#    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Redirect URLs without trailing slash to URLs with trailing slash
<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_URI} !^/wp-json/ [NC]
#    RewriteCond %{REQUEST_URI} !\.php [NC]
#    RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{2,4}$ [NC]
#    RewriteCond %{REQUEST_URI} !^/$
#    RewriteRule ^(.+[^/])$ https://%{HTTP_HOST}/$1/ [L,R=301]
</IfModule>

# END Theme

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]
#</IfModule>
