/* index.scss */

@use 'utils/variables' as vars;
@use 'utils/functions' as func;
@use 'utils/mixins' as mixin;

@use 'partials';

//
// Index layout.

// policy navigation
.policy-nav {
    .menu-thumb {
        & > a {
            align-items: center;

            & > img {
                display: block;
                width: 28px;
            }
        }
    }
}

// .p-news-list
.p-news-list {
    .c-cover {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.08);
    }
}

// .dark-mode
.dark-mode {
    transition: 0.3s;
    margin-inline: -12px;
    cursor: pointer;
    border-radius: var(--radius-md);
    background-color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.05);
    @include mixin.flex-center;
    @include mixin.box(42);

    &:hover {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.08);
    }
}

:where(.dark, .dark *) {
    .dark-mode {
        background-color: #1d1d1d;
        border: 1px solid rgba(255, 255, 255, 0.06);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);

        &:hover {
            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.08);
        }
    }

    .p-news-list {
        .c-cover {
            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.06);
        }
    }
}


