/* index.scss */

@use 'utils/variables' as vars;
@use 'utils/functions' as func;
@use 'utils/mixins' as mixin;

@use 'partials';

//
// Index layout.

// policy navigation
.policy-nav {
    .menu-thumb {
        & > a {
            align-items: center;

            & > img {
                display: block;
                width: 28px;
            }
        }
    }
}

// .p-projects-list
.p-projects-list {
    .p-thumb {
        & > span {
            scale: 1.0001;
            will-change: scale;
            transition: scale .8s cubic-bezier(.25, .46, .45, .94), opacity .3s;
        }

        .p-link {
            transition: height 0.2s;
            background-color: rgba(0, 0, 0, 0.3);
            height: 0;
            left: 0;
            top: 0;
            right: 0;
            position: absolute;

            @include mixin.mq-max(md) {
                position: static;
                justify-content: flex-start;
                row-gap: 0;
                height: auto;
                background: none;
                margin-top: 12px;
                align-items: center;
            }

            & > a {
                transition: opacity 0.3s;
                font-weight: 700;

                @include mixin.mq-min(md) {
                    opacity: 0;
                    border-radius: var(--radius-md);
                    border: 1px solid rgba(254, 82, 66, 0.7);
                    background-color: rgba(254, 82, 66, 0.7);
                    backdrop-filter: blur(2px);
                    padding-block: 16px;
                    padding-inline: 16px;
                    color: var(--color-white);

                    &:hover {
                        box-shadow: 0 4px 29px -9px rgba(12, 142, 57, 0.5);
                        border: 1px solid rgba(12, 142, 57, 0.7);
                        background-color: rgba(12, 142, 57, 0.7);
                    }

                    &:not(:last-child) {
                        border: 1px solid rgba(12, 142, 57, 0.7);
                        background-color: rgba(12, 142, 57, 0.7);

                        &:hover {
                            box-shadow: 0 4px 29px -9px rgba(254, 82, 66, 0.5);
                            border: 1px solid rgba(254, 82, 66, 0.7);
                            background-color: rgba(254, 82, 66, 0.7);
                        }
                    }
                }

                @include mixin.mq-max(md) {
                    opacity: 1;
                    color: var(--text-color-1);
                    font-size: 14px;

                    &:hover {
                        color: var(--text-color-2);
                    }

                    &:not(:last-child) {
                        color: var(--text-color-2);

                        &:hover {
                            color: var(--text-color-1);
                        }
                    }
                }
            }
        }

        @include mixin.mq-min(md) {
            &:hover {
                & > span {
                    scale: 1.06;
                    opacity: 1;
                }

                .p-link {
                    height: 100%;

                    & > a {
                        opacity: 1;
                        transition-delay: 0.3s;
                    }
                }
            }
        }
    }
}

// .p-news-list
.p-news-list {
    .c-cover {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.08);
    }

    .item-img {
        border-radius: var(--radius-md);
        overflow: hidden;

        @include mixin.mq-max(lg) {
            display: none;
        }

        & > img {
            object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .first-item {
        position: relative;

        .c-content {
            @include mixin.mq-min(lg) {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(4px);
                padding: 24px;
                border-radius: 0 0 var(--radius-md) var(--radius-md);
                color: #fff;
                pointer-events: none;

                .c-terms, .view-more {
                    display: none;
                }
            }
        }
    }
}

// #toc_container
#toc_container {
    width: 100% !important;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.025);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    margin: 0 auto 24px;
    border-radius: var(--radius-md);

    .toc_title {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        position: relative;
        padding-left: 52px;
        @include mixin.clamp-fs(h5);

        &::before {
            content: '';
            border-radius: 50%;
            padding: 12px;
            z-index: 1;
            top: 50%;
            left: 6px;
            position: absolute;
            background-color: #fff;
            transform: translateY(-50%);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779L4.36 19.918L6.5 13.5m4.279 4.279l8.364-8.643a3.027 3.027 0 0 0-2.14-5.165a3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14l6.213-6.504M12.75 7.04L17 11.28"/></svg>');
            @include mixin.box(28);
        }

        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            left: 0;
            background-color: var(--text-color-1);
            box-shadow: 3px 1px 12px rgba(254, 82, 66, 0.2);
            @include mixin.box(40);
        }
    }

    .toc_toggle {
        position: relative;
        @include mixin.box(32);

        .toc_brackets {
            display: none;
        }

        & > a {
            font-size: 0;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                transition: 0.15s ease-in-out;
                background-color: var(--text-color);
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 14l-4-4l-4 4"/></svg>');
                @include mixin.absolute-center;
            }
        }
    }

    .toc_list {
        margin-top: 20px;
        margin-left: 12px;
        list-style: none;
        margin-bottom: 0;
        overflow: auto;
        scrollbar-width: thin;
        max-height: 400px;

        li {
            padding-block: 0 !important;

            a {
                display: flex;
                padding-block: 5px;
                align-items: baseline;
                gap: 8px;
                font-size: 15px;

                &:hover {
                    color: var(--text-color-1);
                }

                .toc_number {
                    font-weight: 500;
                    font-size: 13px;
                    text-decoration: underline;
                }
            }

            & > ul {
                list-style: none;
                margin-left: 12px;
                margin-bottom: 0;
            }
        }
    }

    &.contracted {
        .toc_toggle {
            & > a {
                &::after {
                    transform: rotate(180deg);
                    transform-origin: center;
                }
            }
        }
    }
}

// .suggestion-list
.suggestion-list {
    ul {
        list-style: none !important;
        margin-left: 0 !important;

        li {
            position: relative;
            padding-left: 36px;
            font-size: 15px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.15s ease-in-out;
                background-color: var(--text-color-1);
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12.1" cy="12.1" r="1"/></svg>');
                @include mixin.box(36);
            }

            .title {
                font-weight: 500;

                &:hover {
                    color: var(--text-color-1);
                }
            }
        }
    }
}

// .hashtag-links + terms-links
:where(.terms-links, .hashtag-links) {
    margin-top: 16px;

    svg {
        color: var(--text-color-1);
    }

    a {
        font-weight: 500;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1px 12px;
        border-radius: 4px;

        &:hover {
            color: var(--text-color-1);
        }
    }
}

// .singular
.section.singular {
    .meta {
        .terms {
            a {
                font-weight: 500;
                color: var(--text-color-1);
            }
        }
    }

    .entry-content {
        .excerpt {
            font-weight: 500;
            margin-bottom: 24px;
        }

        :where(h1, h2, h3, h4, h5, h6) {
            margin-bottom: 16px;
            font-weight: 700;
        }

        h6 {
            font-size: 16px;
        }

        h5 {
            @include mixin.clamp-fs(h6);
        }

        h4 {
            @include mixin.clamp-fs(h5);
        }

        h3 {
            @include mixin.clamp-fs(h4);
        }

        h2 {
            @include mixin.clamp-fs(h3);
        }

        h1 {
            @include mixin.clamp-fs(h2);
        }

        :where(ul, ol) {
            margin-left: 25px;
            margin-bottom: 16px;

            li {
                padding-block: 4px;
            }
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }

        img {
            border-radius: 6px;
            height: auto;
        }

        figure {
            figcaption {
                font-size: 14px;
                font-weight: 500;
                padding-top: 12px;
            }
        }

        blockquote {
            position: relative;
            padding: 24px 12px 24px 40px;
            font-style: italic;
            font-weight: 500;
            margin-bottom: 32px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                transform: scaleX(-1) scaleY(-1);
                background-color: var(--text-color-1);
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M6 6a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a3 3 0 0 1-3 3H5a1 1 0 1 0 0 2h1a5 5 0 0 0 5-5V8a2 2 0 0 0-2-2zm9 0a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a3 3 0 0 1-3 3h-1a1 1 0 1 0 0 2h1a5 5 0 0 0 5-5V8a2 2 0 0 0-2-2z" clip-rule="evenodd"/></svg>');
                @include mixin.box(32);
            }
        }
    }

    .nocomments {
        font-size: 15px;
        margin-top: 32px;
        background-color: rgb(0 0 0 / 5%);
        border-left: 4px solid var(--text-color-1);
        padding-left: 16px;
        padding-block: 12px;
        border-radius: 3px;
    }
}

.section.section-author {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

// .section-partners
.section-partners {
    .swiper {
        position: relative;

        &::after, &::before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 100px;
            z-index: 2;
        }

        &::before {
            left: 0;
            background: linear-gradient(90deg, #fefefe 0%, rgba(254, 254, 254, 0) 100%);
            pointer-events: none;
        }

        &::after {
            right: 0;
            background: linear-gradient(90deg, rgba(254, 254, 254, 0) 0%, #fefefe 100%);
            pointer-events: none;
        }
    }
}

//
// .dark-mode
//
.dark-mode {
    transition: 0.3s;
    cursor: pointer;
    border-radius: var(--radius-md);
    background-color: #f4f4f4;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.02);
    flex: 0 0 auto;
    @include mixin.flex-center;
    @include mixin.box(42);

    &:hover {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.08);
    }
}

:where(.dark, .dark *) {
    .dark-mode {
        background-color: #1d1d1d;
        border: 1px solid rgba(255, 255, 255, 0.06);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);

        &:hover {
            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.08);
        }
    }

    .p-projects-list {
        .p-thumb {
            .p-link {
                background-color: rgb(22 22 22 / 70%);
            }
        }
    }

    .p-news-list {
        .c-cover {
            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.06);
        }
    }

    .section.singular {
        .nocomments {
            background-color: rgb(255 255 255 / 5%);
        }
    }

    #toc_container {
        background-color: rgba(255, 255, 255, 0.025);
        border: 1px solid rgba(255, 255, 255, 0.06);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
    }

    :where(.terms-links, .hashtag-links) {
        a {
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    .section.section-author {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .partners {
        .swiper {
            &::before {
                background: linear-gradient(90deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
            }

            &::after {
                background: linear-gradient(90deg, rgba(22, 22, 22, 0) 0%, #161616 100%);
            }
        }
    }
}
