/* index.scss */

@use 'utils/variables' as vars;
@use 'utils/functions' as func;
@use 'utils/mixins' as mixin;

@use 'partials';

//
// Index layout.

.policy-nav {
    .menu-thumb {
        & > a {
            align-items: center;

            & > img {
                display: block;
                width: 28px;
            }
        }
    }
}
