/* index.scss */

@use 'utils/variables' as vars;
@use 'utils/functions' as func;
@use 'utils/mixins' as mixin;

@use 'partials/index';

//
// Index layout.

// policy navigation
.policy-nav {
    .menu-thumb {
        & > a {
            align-items: center;

            & > img {
                display: block;
                width: 28px;
            }
        }
    }
}

// .p-projects-list
.p-projects-list {
    .p-thumb {
        & > span {
            scale: 1.0001;
            will-change: scale;
            transition: scale .8s cubic-bezier(.25, .46, .45, .94), opacity .3s;
        }

        .p-link {
            transition: height 0.2s;
            background-color: rgba(0, 0, 0, 0.3);
            height: 0;
            left: 0;
            top: 0;
            right: 0;
            position: absolute;

            & > a {
                opacity: 0;
                transition: opacity 0.3s;
                border-radius: var(--radius-md);
                border: 1px solid rgba(254, 82, 66, 0.7);
                background-color: rgba(254, 82, 66, 0.7);
                backdrop-filter: blur(2px);
                padding-block: 16px;
                padding-inline: 16px;
                font-weight: 700;
                color: var(--color-white);

                &:hover {
                    box-shadow: 0 4px 29px -9px rgba(12, 142, 57, 0.5);
                    border: 1px solid rgba(12, 142, 57, 0.7);
                    background-color: rgba(12, 142, 57, 0.7);
                }

                &:not(:last-child) {
                    border: 1px solid rgba(12, 142, 57, 0.7);
                    background-color: rgba(12, 142, 57, 0.7);

                    &:hover {
                        box-shadow: 0 4px 29px -9px rgba(254, 82, 66, 0.5);
                        border: 1px solid rgba(254, 82, 66, 0.7);
                        background-color: rgba(254, 82, 66, 0.7);
                    }
                }
            }
        }

        &:hover {
            & > span {
                scale: 1.06;
                opacity: 1;
            }

            .p-link {
                height: 100%;

                & > a {
                    opacity: 1;
                    transition-delay: 0.3s;
                }
            }
        }
    }
}

// .p-news-list
.p-news-list {
    .c-cover {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.08);
    }

    .item-img {
        border-radius: var(--radius-md);
        overflow: hidden;

        @include mixin.mq-max(lg) {
            display: none;
        }

        & > img {
            object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .first-item {
        position: relative;

        .c-content {
            @include mixin.mq-min(lg) {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(4px);
                padding: 24px;
                border-radius: 0 0 var(--radius-md) var(--radius-md);
                color: #fff;
                pointer-events: none;

                .c-terms, .view-more {
                    display: none;
                }
            }
        }
    }
}

// #toc_container
#toc_container {
    width: 100% !important;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.025);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    margin: 0 auto 24px;
    border-radius: var(--radius-md);

    .toc_title {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        position: relative;
        padding-left: 52px;
        @include mixin.clamp-fs(h5);

        &::before {
            content: '';
            border-radius: 50%;
            padding: 12px;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
            top: 50%;
            left: 6px;
            position: absolute;
            transform: translateY(-50%);
            background-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779L4.36 19.918L6.5 13.5m4.279 4.279l8.364-8.643a3.027 3.027 0 0 0-2.14-5.165a3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14l6.213-6.504M12.75 7.04L17 11.28"/></svg>');
            @include mixin.box(28);
        }

        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            left: 0;
            background-color: var(--text-color-1);
            box-shadow: 3px 1px 12px rgba(254, 82, 66, 0.2);
            @include mixin.box(40);
        }
    }

    .toc_toggle {
        position: relative;
        @include mixin.box(32);

        .toc_brackets {
            display: none;
        }

        & > a {
            font-size: 0;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                transition: 0.15s ease-in-out;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 14l-4-4l-4 4"/></svg>');
                @include mixin.absolute-center;
            }
        }
    }

    .toc_list {
        margin-top: 20px;
        margin-left: 12px;
        list-style: none;
        margin-bottom: 0;
        overflow: auto;
        scrollbar-width: thin;
        max-height: 400px;

        li {
            padding-block: 0 !important;

            a {
                display: flex;
                padding-block: 5px;
                align-items: baseline;
                gap: 8px;
                font-size: 15px;

                &:hover {
                    color: var(--text-color-1);
                }

                .toc_number {
                    font-weight: 500;
                    font-size: 13px;
                    text-decoration: underline;
                }
            }

            & > ul {
                list-style: none;
                margin-left: 12px;
                margin-bottom: 0;
            }
        }
    }

    &.contracted {
        .toc_toggle {
            & > a {
                &::after {
                    background-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 10l4 4l4-4"/></svg>');
                }
            }
        }
    }
}

// .suggestion-list
.suggestion-list {
    ul {
        list-style: none !important;
        margin-left: 0 !important;

        li {
            position: relative;
            padding-left: 36px;
            font-size: 15px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.15s ease-in-out;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#fe5242" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12.1" cy="12.1" r="1"/></svg>');
                @include mixin.box(36);
            }

            .title {
                font-weight: 500;

                &:hover {
                    color: var(--text-color-1);
                }
            }
        }
    }
}

// .hashtag-links + terms-links
:where(.terms-links, .hashtag-links) {
    margin-top: 16px;

    svg {
        color: var(--text-color-1);
    }

    a {
        font-weight: 500;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1px 12px;
        border-radius: 4px;

        &:hover {
            color: var(--text-color-1);
        }
    }
}

// .singular
.section.singular {
    .meta {
        .terms {
            a {
                font-weight: 500;
                color: var(--text-color-1);
            }
        }
    }

    .entry-content {
        .excerpt {
            font-weight: 500;
            margin-bottom: 24px;
        }

        :where(h1, h2, h3, h4, h5, h6) {
            margin-bottom: 16px;
            font-weight: 700;
        }

        h6 {
            font-size: 16px;
        }

        h5 {
            @include mixin.clamp-fs(h6);
        }

        h4 {
            @include mixin.clamp-fs(h5);
        }

        h3 {
            @include mixin.clamp-fs(h4);
        }

        h2 {
            @include mixin.clamp-fs(h3);
        }

        h1 {
            @include mixin.clamp-fs(h2);
        }

        :where(ul, ol) {
            margin-left: 25px;
            margin-bottom: 16px;

            li {
                padding-block: 4px;
            }
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }

        figure {
            img {
                border-radius: 6px;
            }

            figcaption {
                font-size: 14px;
                font-weight: 500;
                padding-top: 12px;
            }
        }

        blockquote {
            position: relative;
            padding: 24px 12px 24px 40px;
            font-style: italic;
            font-weight: 500;
            margin-bottom: 32px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                transform: scaleX(-1);
                background-size: contain;
                background-repeat: no-repeat;
                background-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#FE5242" fill-rule="evenodd" d="M6 6a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a3 3 0 0 1-3 3H5a1 1 0 1 0 0 2h1a5 5 0 0 0 5-5V8a2 2 0 0 0-2-2zm9 0a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a3 3 0 0 1-3 3h-1a1 1 0 1 0 0 2h1a5 5 0 0 0 5-5V8a2 2 0 0 0-2-2z" clip-rule="evenodd"/></svg>');
                @include mixin.box(32);
            }
        }
    }

    .nocomments {
        font-size: 15px;
        margin-top: 32px;
        background-color: rgb(0 0 0 / 5%);
        border-left: 4px solid var(--text-color-1);
        padding-left: 16px;
        padding-block: 12px;
        border-radius: 3px;
    }
}

// .section-about-us
.section.section-about-us {
    .breadcrumbs {
        @include mixin.hidden-text;
    }


}

// .section-contact
.section.section-contact {
    .breadcrumbs {
        @include mixin.hidden-text;
    }

    .wpcf7-form {
        :where(input, textarea) {
            color: var(--text-color);
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: var(--radius-md);
            font-size: 15px;
            width: 100%;
            margin-bottom: 16px;

            &:focus {
                border-color: rgba(0, 0, 0, 0.4);
                box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.08);
            }
        }

        input {
            height: 48px;
            padding: 0 16px;
        }

        textarea {
            padding: 16px;
        }

        .contact-form {
            background-color: #f1f1f1;
            max-width: 768px;
            margin: 24px auto;
            border-radius: var(--radius-md);
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-flow: row wrap;
            gap: 0 16px;
            @include mixin.media-css(padding, 24, false, false, 32);

            .group-item {
                flex: 0 0 auto;
                width: calc(50% - 8px);

                & > label {
                    & > span {
                        margin-bottom: 4px;
                        display: block;
                        font-size: 15px;
                        font-weight: 500;

                        sup {
                            color: var(--text-color-1);
                            font-size: 95%;
                            top: -2px;
                        }
                    }
                }

                &.span-2 {
                    width: 100%;
                }

                &.c-wpcf7-form-submit {
                    position: relative;
                    text-align: center;

                    .wpcf7-submit {
                        display: inline-flex;
                        height: 40px;
                        align-items: center;
                        padding: 0 32px;
                        border-radius: var(--radius-md);
                        border: 1px solid var(--text-color-1);
                        color: var(--text-color-1);
                        transition: 0.15s;
                        font-weight: 500;
                        @include mixin.clamp-font-size(16px, 18px);

                        &:hover {
                            box-shadow: 0 0 12px rgba(254, 82, 66, 0.5);
                        }
                    }

                    .wpcf7-spinner {
                        position: absolute;
                        margin: 0 0 0 12px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .wpcf7-form-control-wrap {
                    position: relative;

                    .wpcf7-not-valid-tip {
                        padding-top: 0;
                        position: absolute;
                        right: 4px;
                        top: 4px;
                        font-weight: 300;
                    }
                }
            }
        }

        .wpcf7-response-output {
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
            border: none;
            padding: 0;
            font-size: 15px;
        }
    }
}

//
// .dark-mode
//
.dark-mode {
    transition: 0.3s;
    margin-inline: -12px;
    cursor: pointer;
    border-radius: var(--radius-md);
    background-color: #f4f4f4;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.02);
    @include mixin.flex-center;
    @include mixin.box(42);

    &:hover {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.08);
    }
}

:where(.dark, .dark *) {
    .dark-mode {
        background-color: #1d1d1d;
        border: 1px solid rgba(255, 255, 255, 0.06);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);

        &:hover {
            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.08);
        }
    }

    .p-projects-list {
        .p-thumb {
            .p-link {
                background-color: rgb(22 22 22 / 70%);
            }
        }
    }

    .p-news-list {
        .c-cover {
            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.06);
        }
    }

    .section.singular {
        .nocomments {
            background-color: rgb(255 255 255 / 5%);
        }
    }

    #toc_container {
        background-color: rgba(255, 255, 255, 0.025);
        border: 1px solid rgba(255, 255, 255, 0.06);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);

        .toc_toggle {
            & > a {
                &::after {
                    background-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 14l-4-4l-4 4"/></svg>');
                }
            }
        }

        &.contracted {
            .toc_toggle {
                & > a {
                    &::after {
                        background-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 10l4 4l4-4"/></svg>');
                    }
                }
            }
        }
    }

    :where(.terms-links, .hashtag-links) {
        a {
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    .section.section-contact {
        .wpcf7-form {
            :where(input, textarea) {
                background-color: rgba(255, 255, 255, 0.08);
                box-shadow: rgba(255, 255, 255, 0.05) 0 0 12px inset;
                border: 1px solid rgba(255, 255, 255, 0.12);

                &:focus {
                    box-shadow: rgba(255, 255, 255, 0.08) 0 0 12px inset;
                    border-color: rgba(255, 255, 255, 0.4);
                }
            }

            .contact-form {
                background-color: #2C2C2C;
                border: 1px solid rgba(255, 255, 255, 0.2);
                box-shadow: 0 0 24px rgba(44, 44, 44, 0.5);
            }
        }
    }
}
