/* 3rd/_swiper.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/grid';
@use 'swiper/css/free-mode';

//
// Custom CSS.

:root {
    --swiper-navigation-size: 40px;
    --swiper-navigation-sides-offset: 12px;
    --swiper-navigation-color: #FE5242;
    --swiper-pagination-color: #FE5242;
    --swiper-pagination-bullet-inactive-color: #FE5242;
    --swiper-pagination-bottom: 16px;
    --swiper-pagination-top: auto;

    --Primary-01: #FE5242;
    --Primary-02: #0C8E39;
}

.swiper-container {
    position: relative;
    z-index: 1;

    &:not(.swiper-image) {
        .swiper-controls {
            .swiper-pagination {
                position: relative;
                bottom: 0;
                margin-top: 24px;
            }
        }
    }
}

.swiper-wrapper {
    height: fit-content;
}

.swiper-marquee {
    &.swiper-wrapper {
        transition-timing-function: linear !important;
        touch-action: manipulation;
    }
}

:is(.swiper-button-prev, .swiper-button-next) {
    border-radius: var(--radius-md);
    color: var(--text-color) !important;
    background-color: var(--bg-color);
    border: 1px solid #00000014;
    box-shadow: inset 0 0 12px #0000000a;

    &::after, &::before {
        display: none !important;
    }

    &:hover {
        border-color: var(--text-color-1);
        color: var(--text-color-1) !important;
    }
}

.swiper-autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    @include mixin.box(48);

    svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
        transition: stroke-dashoffset 0.1s linear;
    }
}

/** */
:where(.dark, .dark *) {
    :is(.swiper-button-prev, .swiper-button-next) {
        border: 1px solid #ffffff0f;
        box-shadow: inset 0 0 12px #ffffff0a;
    }
}
