/* 3rd/_swiper.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

@use 'swiper/css/bundle';

//
// Custom CSS.

:root {
    --swiper-navigation-size: 44px;
    --swiper-navigation-sides-offset: 12px;
    --swiper-navigation-color: #FE5242;
    --swiper-pagination-color: #FE5242;
    --swiper-pagination-bullet-inactive-color: #FE5242;
    --swiper-pagination-bottom: 16px;
    --swiper-pagination-top: auto;

    --Primary-01: #FE5242;
    --Primary-02: #0C8E39;
}

.swiper-container {
    position: relative;
    z-index: 1;

    &:not(.swiper-image) {
        .swiper-controls {
            position: relative;
            top: 24px;

            .swiper-pagination {
                position: relative;
                bottom: 0;
            }
        }
    }
}

.swiper-marquee {
    &.swiper-wrapper {
        transition-timing-function: linear !important;
        touch-action: manipulation;
    }
}

:is(.swiper-button-prev, .swiper-button-next) {
    &::after, &::before {
        display: none !important;
    }
}
