@use '../variables' as vars;
@use '../functions' as func;
@use '../mixins' as mixin;

.header-hotline {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    outline: none;
    color: #fff;
    transition: border-color 0.4s ease;
    line-height: 1;
    position: relative;

    & > i {
        font-weight: 300;
        font-size: 20px;
        @include mixin.box(20);
    }

    & > span {
        font-weight: 700;
        line-height: 1.4;
        font-size: 16px;
        white-space: nowrap;
        font-family: vars.$header-font;
    }

    &:hover {
        & > i {
            font-weight: 700;
        }

        & > span {
            box-shadow: #eee 0 1px 0 0;
        }
    }
}

#main-nav {
    position: relative;
    width: 100%;

    .menu.dropdown.horizontal {
        min-height: 44px;
        flex-wrap: nowrap;
        white-space: nowrap;
        justify-content: center;
        @include mixin.media-gap(15, false, 30);

        li {
            a {
                color: vars.$body-color;
                display: flex;
                align-items: center;
                font-weight: 500;
                gap: 6px;
                line-height: 1.4;
                padding-top: 10px;
                padding-bottom: 10px;
                flex-wrap: nowrap;
                white-space: normal;
                font-family: vars.$header-font;
                @include mixin.clamp-font-size(13px, 16px, 1.4);

                & > img {
                    display: block;
                    max-height: 18px;
                    width: auto !important;
                    @include mixin.not-highlight;
                }

                & > sup {
                    position: relative;
                    top: -5px;
                    font-size: 12px;
                    margin-left: -4px;
                    text-shadow: 0 0 6px #999;
                }

                &:hover {
                    color: vars.$body-color;
                    opacity: 0.8;
                }
            }

            &.is-active {
                & > a {
                    background: none;
                }
            }
        }

        & > li {
            transition: 0.2s ease-in-out;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background-color: #fff;
                width: 0;
                border-radius: 100px;
                transition: 0.3s ease-in-out;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }

            & > a {
                font-weight: 700;
                color: #fff;
                padding: 8px 0;
                white-space: nowrap;
                height: 100%;

                &:hover {
                    color: #fff;
                }

                @include mixin.mq-max(lg) {
                    font-weight: 500;
                }
            }

            &.is-dropdown-submenu-parent {
                & > a {
                    &::after {
                        font-family: vars.$awesome-font;
                        content: '\f107';
                        border: none;
                        position: relative;
                        top: 0;
                        font-weight: 400;
                        right: 0;
                        margin-top: 0;
                        font-size: 14px;
                        color: #eee;
                        @include mixin.box(10);
                        @include mixin.flex-center;
                    }
                }
            }

            &.more {
                & > a {
                    font-size: 0;
                    position: relative;

                    &::after {
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        content: "\f141";
                        font-family: vars.$awesome-font;
                        width: auto;
                    }
                }

                .sub-menu.dropdown {
                    padding-left: 0;
                }
            }

            ul {
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
                border: 1px solid rgb(0 0 0 / 10%);
                padding-top: 10px;
                padding-bottom: 10px;

                & > li {
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    &.is-dropdown-submenu-parent {
                        & > a {
                            &::after {
                                font-family: vars.$awesome-font;
                                border: none;
                                position: absolute;
                                top: 50%;
                                left: auto;
                                transform: translateY(-50%);
                                font-weight: 400;
                                right: 14px;
                                margin-top: 0;
                                font-size: 14px;
                                @include mixin.box(10);
                                @include mixin.flex-center;
                            }
                        }

                        &.opens-right {
                            & > a {
                                &::after {
                                    content: '\f105';
                                }
                            }
                        }

                        &.opens-left {
                            & > a {
                                &::after {
                                    content: '\f104';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#masthead {
    transition-delay: 0.1s;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
    height: 110px;
    background-color: #231F20;

    @include mixin.mq-max(lg) {
        height: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.sticky {
        height: 60px;

        @include mixin.mq-max(lg) {
            height: 70px;
        }
    }

    @include mixin.mq-min(xxl) {
        padding: 0 70px;
    }

    & > .container {
        align-items: center;
        flex-wrap: nowrap;
        height: 100%;

        @include mixin.mq-max(lg) {
            justify-content: space-between;
        }

        @include mixin.mq-max-width(399px) {
            position: relative;
        }

        :where(.site-logo, .custom-logo-link, .logo, .custom-logo) {
            height: 100%;
        }

        .site-logo {
            flex: 0 0 auto;
            width: auto;

            .logo {
                @include mixin.media-width(150, false, false);
                @include mixin.flex-center;

                @include mixin.mq-min(lg) {
                    padding: 10px;
                }

                .custom-logo {
                    display: block;
                    width: auto;
                    object-fit: contain;
                    filter: brightness(0) invert(1);
                    transition: 0.1s;
                }

                &:hover {
                    .custom-logo {
                        filter: none;
                    }
                }
            }
        }

        .header-content {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include mixin.flex-auto;
            @include mixin.media-gap(10, 20, 30);
            @include mixin.media-height(40, false, 60);

            :where(.hotline, .account-item) {
                position: relative;

                @include mixin.mq-min(sm) {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 32px;
                        background-color: rgba(238, 238, 238, 0);
                        top: 50%;
                        transform: translateY(-50%);
                        @include mixin.media-css(right, -5, -10, -15);
                    }
                }
            }

            .inline-search {
                flex: 1 1 0;
                min-width: 0;

                @include mixin.mq-max(lg) {
                    display: none;
                }

                .frm-search {
                    width: 100%;
                    margin-bottom: 0;
                }
            }

            .hotline {
                @include mixin.mq-max-width(399px) {
                    display: none;
                }
            }

            #main-nav {
                @include mixin.mq-max(lg) {
                    display: none;
                }
            }
        }
    }
}

.site-header {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    :where(.logo, .custom-logo-link, .custom-logo) {
        display: block;
    }

    .header-navigation {
        background-color: vars.$body-color;

        @include mixin.mq-max(md) {
            display: none;
        }
    }
}

/** */
body.admin-bar:not(.page-template-template-page-home) {
    .site-header {
        @include mixin.mq-min-width(600px) {
            top: 46px;
        }

        @include mixin.mq-min-width(782px) {
            top: 32px;
        }
    }
}