@use 'sass:color';

@use '../variables' as vars;
@use '../functions' as func;
@use '../mixins' as mixin;

//
// .ajax-loader

:is(.ajax-loading, .ajax-loader) {
    @include mixin.animation-loading(30px, vars.$body-color, #f3f3f3, 2px);
}

@include mixin.keyframes(spin) {
    100% {
        transform: rotate(360deg);
    }
}

body.ajax-loader {
    height: 100vh;

    &::after {
        top: func.subtract(50vh, func.fs(func.divide(30, 2)));
    }
}

//
// .sharing-toolbox

.sharing-toolbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .share-title {
        color: vars.$header-font;
        font-size: 14px;
        font-weight: 400;
        /*transform: rotate(-90deg);*/
        white-space: nowrap;
        display: flex;
        align-items: center;
        line-height: 1;

        /*&::before {
            background: #ccc;
            content: '';
            height: 1px;
            margin-right: 3px;
            width: 10px;
        }*/
    }

    .social-share {
        & > .share-label {
            display: none;
        }

        ul.share-actions {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 15px;

            & > li.share-action {
                @include mixin.flex-center;

                & > button.share-button {
                    cursor: pointer;
                    opacity: 1;
                    transition: 0.3s;
                }
            }
        }

        &.share-vertical {
            ul.share-actions {
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }
    }
}

//
// .share-icon

.share-icon {
    display: block;
    padding: 0;
    position: relative;

    &::before {
        content: '';
        font-family: vars.$awesome-font;
        margin: 0;
        font-weight: 300;
        color: vars.$body-color;
        font-size: 17px;
        @include mixin.flex-center();
    }

    &.icon-print {
        &::before {
            content: '\f02f';
        }
    }

    &.icon-facebook {
        &::before {
            content: '\f39e';
        }
    }

    &.icon-x {
        &::before {
            content: '\e61b';
        }
    }

    &.icon-whatsapp {
        &::before {
            content: '\f232';
        }
    }

    &.icon-messenger {
        &::before {
            content: '\f39f';
        }
    }

    &.icon-snapchat {
        &::before {
            content: '\f2ab';
        }
    }

    &.icon-line {
        &::before {
            content: '\f3c0';
        }
    }

    &.icon-viber {
        &::before {
            content: '\f409';
        }
    }

    &.icon-skype {
        &::before {
            content: '\f17e';
        }
    }

    &.icon-telegram {
        &::before {
            content: '\f2c6';
        }
    }

    &.icon-linkedin {
        &::before {
            content: '\f0e1';
        }
    }

    &.icon-quora {
        &::before {
            content: '\f2c4';
        }
    }

    &.icon-mastodon {
        &::before {
            content: '\f4f6';
        }
    }

    &.icon-reddit {
        &::before {
            content: '\f1a1';
        }
    }

    &.icon-bluesky {
        &::before {
            content: '\e671';
        }
    }

    &.icon-threads {
        &::before {
            content: '\e618';
        }
    }

    &.icon-copy-link {
        &::before {
            content: '\f0c5';
        }
    }

    &.icon-send-email {
        &::before {
            content: '\f0e0';
        }
    }

    &.icon-web-share {
        &::before {
            content: '\f1e0';
        }
    }

    &:hover {
        color: vars.$Primary-01;
    }
}

//
// stars-rating.

.stars-rating {
    overflow: hidden;
    position: relative;
    font-size: 14px;
    display: inline-flex;

    & > ul {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        list-style: none;
        margin: 0;
        line-height: 22px;

        li {
            &::before {
                color: vars.$body-color;
                display: block;
                font-size: inherit;
                font-weight: 300;
                letter-spacing: 5px;
            }

            &.active {
                &::before {
                    font-weight: 700;
                }

                & ~ li {
                    &::before {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    & > span {
        display: block;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 0.03125rem;
        transition: 0.2s;

        &::before {
            color: vars.$body-color;
            content: '\e28b\e28b\e28b\e28b\e28b';
            display: block;
            font-family: vars.$awesome-font;
            font-size: inherit;
            font-weight: 700;
            letter-spacing: 5px;
            line-height: 22px;
        }
    }

    &.clicked {
        & > span {
            width: 0 !important;
        }
    }

    &:not(.selected) {
        ul {
            &:hover {
                li {
                    &:hover {
                        &::before {
                            font-weight: 700;
                        }

                        & ~ li {
                            &::before {
                                font-weight: 700;
                            }
                        }
                    }
                }

                & + span {
                    width: 0 !important;
                    transition: 0.1s;
                }
            }
        }
    }
}

.comment-form-rating {
    #comment-form-rating-label {
        display: block;
    }

    p.stars {
        margin-bottom: 0;
        width: fit-content;

        & > span {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            transition: 0.3s;

            & > a {
                font-size: 0;
                width: auto;
                height: 22px;
                text-indent: -999em;

                &::before {
                    font-family: vars.$awesome-sharp-font;
                    content: '\e28b';
                    color: vars.$body-color;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 22px;
                    display: block;
                    padding-left: 2.5px;
                    padding-right: 2.5px;
                    position: static;
                    width: auto;
                    height: auto;
                }
            }

            &:hover {
                & > a {
                    &::before {
                        font-weight: 700;
                    }

                    &:hover {
                        & ~ a {
                            &::before {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }

        &.selected {
            & > span {
                & > a {
                    &::before {
                        font-weight: 700;
                    }

                    &.active {
                        & ~ a {
                            &::before {
                                font-weight: 300;
                            }
                        }
                    }
                }

                &:hover {
                    & > a {
                        &::before {
                            font-weight: 700 !important;
                        }

                        &:hover {
                            & ~ a {
                                &::before {
                                    font-weight: 300 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    select#rating {
        @include mixin.hidden-text();
    }
}

/** reset */
.woocommerce p.stars:hover a::before,
.woocommerce p.stars.selected a:not(.active)::before,
.woocommerce p.stars.selected a.active ~ a::before,
.woocommerce p.stars.selected a.active::before,
.woocommerce p.stars a:hover ~ a::before {
    content: '\e28b';
    font-family: vars.$awesome-sharp-font;
}

.loop-stars-rating {
    position: relative;
    display: inline-flex;

    &::before {
        font-size: 11px;
        color: vars.$body-color;
        content: '\e28b\e28b\e28b\e28b\e28b';
        font-family: vars.$awesome-sharp-font;
        font-weight: 300;
        letter-spacing: 3px;
        line-height: 20px;
        width: calc(100% - 1.5px);
        position: absolute;
    }

    & > span {
        font-size: 0;
        height: 20px;

        &::before {
            color: vars.$body-color;
            content: '\e28b\e28b\e28b\e28b\e28b';
            font-family: vars.$awesome-sharp-font;
            font-weight: 700;
            letter-spacing: 3px;
            line-height: 20px;
            width: calc(100% - 1.5px);
            display: block;
            overflow: hidden;
            font-size: 11px;
        }

        strong.rating {
            font-size: 11px;
            position: absolute;
            top: 2px;
            line-height: 20px;
            right: -25px;
            font-weight: 500;
            color: vars.$body-color;
        }

        span.rating {
            display: none;
        }
    }
}

//
// pagination.

nav.nav-pagination {
    text-align: center;
    width: 100%;
    @include mixin.media-css(margin-top, 20, false, 30);

    ul.pagination {
        margin: 0;
        flex-wrap: wrap;
        gap: 5px;
        @include mixin.flex-center();

        li {
            font-weight: 500;
            height: 28px;
            padding: 0;
            min-width: 28px;
            width: auto;
            line-height: normal;
            overflow: hidden;
            border-radius: 50%;
            @include mixin.flex-center();

            a, .current {
                height: 100%;
                width: 100%;
                line-height: inherit;
                aspect-ratio: 1 / 1;
                padding: 0;
                @include mixin.flex-center();
            }

            svg {
                height: 20px;
            }

            i {
                font-style: normal;
            }

            &.current, .current {
                color: #fff;
                background-color: vars.$Primary-02;
            }
        }
    }
}

//
// form.

:is(span, label) {
    & > a {
        color: vars.$Primary-01;

        &:hover {
            color: vars.$Primary-01;
            text-decoration: underline;
        }
    }
}

.form-error {
    display: none !important;
    margin-top: 5px;
    font-weight: 400;
    color: vars.$Primary-03;
    text-align: center;
    font-size: 12px;

    &.is-visible {
        display: block !important;
    }
}

//
// simplebar scroll.

.simplebar-scrollable-y {
    padding-right: 12px;
}

.simplebar-track {
    &.simplebar-vertical {
        width: 10px;
    }

    &.simplebar-horizontal {
        height: 10px;
    }
}

.simplebar-scrollbar:before {
    background-color: #cccccc;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}

//
// .back-to-top

.back-to-top {
    opacity: 0;
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 30px;
    border: 1px solid vars.$Primary-03;
    border-radius: 4px;
    @include mixin.box(28);
    @include mixin.flex-center;

    @include mixin.mq-max(md) {
        bottom: 70px;
    }

    &.back-to-top__show {
        opacity: 1;
        transition: 0.3s;
    }

    & > svg {
        position: relative;
        transform: rotate(-90deg);
        display: block;
        color: vars.$Primary-03;
        @include mixin.box(24);
    }

    &:hover {
        border-color: vars.$Primary-03;
        opacity: 0.5;

        & > svg {
            color: vars.$Primary-03;
        }
    }
}

//
// Custom zf.
//

//
// menu.

.menu {
    .active {
        & > a {
            background: none;
        }
    }

    .sub-menu:not(.is-dropdown-submenu) {
        display: none;
    }
}

//
// .inline-search

.inline-search {
    .frm-search {
        position: relative;
        width: 290px;
        max-width: 100%;

        input[type="search"] {
            padding-inline: 34px 15px;
            outline: none;
            border: 1px solid vars.$body-color;
            transition: border-color .4s ease;
            background-color: transparent;
            color: vars.$body-color;
            border-radius: 9999px;
            font-size: 15px;
            @include mixin.box(100%, 34);

            &:focus {
                border-width: 2px;
            }
        }

        [type="submit"] {
            inset-inline-start: 0;
            pointer-events: none;
            position: absolute;
            inset-block: 0;
            font-size: 0;
            left: 5px;
            @include mixin.box(34);

            &::before {
                transition: opacity .2s ease;
                font-size: 14px;
                color: vars.$body-color;
            }
        }
    }
}

//
// .off-canvas-content

.off-canvas.is-transition-overlap {
    z-index: 999999;
}

.js-off-canvas-overlay.is-overlay-fixed {
    background: rgb(0 0 0 / 40%);
}

.off-canvas-content {
    @include mixin.mq-min(xl) {
        display: none !important;
    }

    .menu-lines {
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        /*@include hamburger($Primary-01, $Primary-02, 22px, 18px, 2px, 3);*/

        .menu-txt {
            font-size: 16px;
            font-weight: 400;
            order: 1;
            display: none !important;

            @include mixin.mq-max(md) {
                display: none;
            }
        }

        .line {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 26px;
            height: 18px;

            & > span {
                position: relative;
                width: 100%;

                &::before {
                    content: '';
                    height: 2px;
                    width: 100%;
                    background-color: #eee;
                    position: absolute;
                    left: 0;
                }

                &.line-2 {
                    &::before {
                        width: 90%;
                        transition: 0.3s;
                    }
                }
            }
        }

        &:hover {
            .menu-txt {
                color: #eee;
            }

            .line {
                & > span {
                    &::before {
                        background-color: #eee;
                    }

                    &.line-2 {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.off-canvas {
    background-color: #231F20;

    &.is-open {
        transform: translate(0) translateZ(3px);
    }

    .menu-lines {
        position: absolute;
        top: 16px;
        right: 16px;
        display: block;
        z-index: 9999;
        opacity: 0;
        transition: .6s 0.5s ease-in-out;
        transform: translateZ(3px);
        padding: 0;
        color: #eee;
        border-radius: 50%;
        overflow: hidden;
        @include mixin.box(28);

        .menu-txt {
            color: currentColor;
            transition: .6s 0.5s ease-in-out;
            display: none !important;
        }

        .line {
            position: absolute;
            top: 14px;
            left: 6px;
            height: 2px;
            background-color: currentColor;
            border-radius: 0;
            transition: .5s 0.4s ease-in-out;
            transform: rotate(0deg);
            width: 20px;
            display: block;
        }
    }

    &.is-open {
        .menu-lines {
            opacity: 1;
            transform: translateZ(3px);

            .line-1 {
                transform: rotate(135deg);
            }

            .line-2 {
                transform: rotate(-135deg);
            }
        }
    }

    &.position-top, &.position-bottom {
        &.is-open {
            transform: translateY(0) translateZ(3px);
        }
    }

    .title-bar-title {
        font-weight: 500;
        position: relative;
        margin: 20px 15px;
        z-index: 9999;
        transform: translateZ(3px);
        max-width: 70%;
        font-family: vars.$header-font;

        & > a {
            color: #fff;
            display: block;
            height: 100%;

            & > img {
                display: block;
                height: auto;
                width: auto;
                max-width: 100%;
                max-height: 70px;

                & + span {
                    display: none;
                }
            }

            & > span {
                display: block;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .menu-outer {
        .inline-search {
            padding: 15px;

            .frm-search {
                border: none;
                border-radius: 0;
                background: none;

                input {
                    font-size: 14px;
                    border-color: #eee;
                    color: #eee;
                }

                button[type="submit"] {
                    position: absolute;
                    background: none;
                    left: 2px;

                    &::before {
                        color: #eee;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    ul.vertical.menu {
        position: relative;
        z-index: 9998;
        height: 100%;
        overflow: hidden;
        transform: translateZ(3px);

        li {
            a {
                font-size: 16px;
                font-weight: 500;
                padding-top: 8px;
                padding-bottom: 8px;
                line-height: 1.3;
                display: flex;
                align-items: center;
                gap: 6px;
                color: #eee;

                & > img {
                    height: 18px;
                    width: auto;
                    display: block;
                }

                & > sup {
                    position: relative;
                    top: -5px;
                    font-size: 12px;
                    margin-left: -5px;
                    text-shadow: 0 0 6px #999;
                }

                &:hover {
                    color: #fff;
                }
            }

            .submenu-toggle {
                width: 40px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    content: '\2b';
                    font-family: vars.$awesome-font;
                    width: 20px;
                    height: 20px;
                    font-size: 15px;
                    font-weight: 400;
                    border: none;
                    color: #eee;
                }

                &[aria-expanded="true"] {
                    &::after {
                        content: '\f068';
                        transform: none;
                        transform-origin: unset;
                    }
                }
            }

            .sub-menu.vertical.menu {}
        }
    }

    &.is-transition-overlap {
        z-index: 1000001 !important;

        &.is-closed {
            visibility: hidden;
        }

        &.is-open {
            visibility: visible;
            box-shadow: -3px 0 3px color.scale(vars.$body-color, $alpha: -90%);
        }
    }
}

.off-canvas.position-left {
    width: 320px;
    transform: translateX(-320px);

    &.is-open {
        transform: translate(0) translateZ(3px);
    }
}

.off-canvas.position-right {
    width: 320px;
    transform: translateX(320px);
}

//
// .dropdown-search

.dropdown-search {
    .trigger-s {
        &.hover {
            &::before {
                content: '\f00d';
            }
        }
    }

    &:not(.popup-overlay) {
        .dropdown-pane {
            &.is-open {
                left: 1px !important;
                right: 1px !important;
                width: calc(100% - 2px);
                padding: 0;
                font-size: 15px;
                border: none;
                background: none;

                .frm-container {
                    position: relative;
                    border: 1px solid #9a9a9a;
                    background-color: #fff;
                    border-radius: 5px;
                    @include mixin.container(vars.$gutter-xs, vars.$gutter, false);

                    input {
                        width: 100%;
                        border: none;
                        height: 40px;
                        padding-left: 25px;
                    }

                    button[type='submit'] {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 15px;

                        & > span {
                            display: none;
                        }
                    }

                    .trigger-s-close {
                        display: none;
                    }
                }
            }
        }
    }
}

//
// other.

.grecaptcha-badge {
    display: none !important;
}

.fancybox__content>.f-button.is-close-btn {
    top: 5px;
    right: 5px;
    color: vars.$Primary-01;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.select2-search--dropdown.select2-search--hide {
    display: none;
}

.tabs-panel {
    display: none;

    &.active {
        display: block;
    }
}
