/* utils/_variables.scss */

// Layout breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$sm: 640px !default;
$md: 768px !default;
$lg: 1024px !default;
$xl: 1280px !default;
$xxl: 1536px !default;

$mq-breakpoints: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl,
) !default;

$mq-containers: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl,
) !default;

// line-height
$base-line-height-header: 1.3 !default;
$base-line-height-global: 1.618 !default;

$xxl-container: true !default;

// Typography
//
// font-size, line-height, gutter, spacers and more.

// font-size
$font-sizes: (
        h1: (24px, 48px),
        h2: (20px, 40px),
        h3: (19px, 31px),
        h4: (18px, 24px),
        h5: (17px, 20px),
        h6: (16px, 18px),
) !default;

// gap
$gap-base: 4px !default;

$gutters: (
        gap: $gap-base * 3,
        gap-sm: $gap-base * 3,
        gap-md: $gap-base * 6,
        gap-lg: $gap-base * 6,
        gap-xl: $gap-base * 6,
        gap-xxl: $gap-base * 6,
) !default;

//
// Colors

$bg-color: #161616 !default;
$bg-light-color: rgba(29, 29, 29, 0.7) !default;

$text-color: #C9C9C9 !default;
$header-text-color: #ffffff !default;

$text-color-1: #FD5341 !default;
$text-color-2: #0C8D39 !default;

//
// Fonts

$font-header: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Arial, cursive, sans-serif !default;
$font-body: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Arial, cursive, sans-serif !default;
$font-awesome: 'Font Awesome 6 Pro', 'Font Awesome 6 Brands', sans-serif !default;
$font-awesome-sharp: 'Font Awesome 6 Sharp', 'Font Awesome 6 Brands', sans-serif !default;
$font-mono: Consolas, 'Liberation Mono', 'Courier New', monospace !default;
