/* partials/template/page-professional-design.scss */

@use '../../utils/variables' as vars;
@use '../../utils/functions' as func;
@use '../../utils/mixins' as mixin;

//
// Professional design layout.
