// components/templates/page-professional-design.scss

@use '../../styles/utils/variables' as vars;
@use '../../styles/utils/functions' as func;
@use '../../styles/utils/mixins' as mixin;

//
// Professional design layout.
