// components/templates/page-affordable-design.scss

@use '../../styles/utils/variables' as vars;
@use '../../styles/utils/functions' as func;
@use '../../styles/utils/mixins' as mixin;

//
// Affordable design layout.
