/**
 * Theme Name: HD Child
 * Author: Gaudev
 * Author URI: https://webhd.vn
 * Requires PHP: 8.3
 * Version: 1.11.0
 * Template: hd
 * License: MIT
 * Domain Path: /languages
 *
 * WordPress Theme, Copyright 2025 Gaudev.
 */
