@use '../functions' as func;

//
// Color
//

$white: #ffffff !default;
$black: #000000 !default;

$Primary-01: #333333 !default;
$Primary-02: #ffffff !default;
$Primary-03: #FF0F07 !default;
$Primary-04: #FCE186 !default;

$Secondary-01: #FDDAE1 !default;
$Secondary-02: #9EC6B9 !default;
$Secondary-03: #D31F78 !default;
$Secondary-04: #FFA2A2 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #ff0000 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$primary: $Primary-01 !default;
$secondary: $Secondary-01 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$alert: $red !default;
$light: #f8f9fa !default;
$dark: #212529 !default;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'alert': $alert,
        'light': $light,
        'dark': $dark,
) !default;
