/* index.scss */
/* utils/_variables.scss */
/* utils/_functions.scss */
/** $string - svg */
/** add unique id image url */
/** https://webdesign.tutsplus.com/tutorials/an-introduction-to-error-handling-in-sass--cms-19996 */
/** font size */
/* index.scss */
/* utils/_mixins.scss */
/* partials/_index.scss */
/* index.scss */
/* partials/_base.scss */
body {
  background-image: url("../img/bg.png");
  background-position: center top 40px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.as-1-1 {
  aspect-ratio: 1/1;
}

.as-3-2 {
  aspect-ratio: 3/2;
}

.as-4-3 {
  aspect-ratio: 4/3;
}

.as-16-9 {
  aspect-ratio: 16/9;
}

.position-left {
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  width: 320px;
  transform: translate(-320px);
}

.position-right {
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  width: 320px;
  transform: translate(320px);
}

.off-canvas {
  transition: transform 0.15s ease;
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
}
.off-canvas .menu-lines {
  transition: 0.15s ease-in-out;
  transform: translateZ(3px);
}
.off-canvas .menu-lines .line {
  background-color: currentColor;
  transition: rotate 0.5s ease, background-color 0.15s ease;
}
.off-canvas .menu-lines:hover .line {
  background-color: var(--color-white);
}
.off-canvas .title-bar-title {
  transform: translateZ(3px);
}
.off-canvas .title-bar-title .mobile-logo-link img {
  filter: brightness(0) invert(1) brightness(0.81) saturate(0);
}
.off-canvas .title-bar-title .mobile-logo-link:hover img {
  filter: inherit;
}
.off-canvas .inline-search .frm-search {
  position: relative;
  width: 100%;
  color: #fff;
  padding: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 3);
  border-radius: var(--radius-md);
  background: var(--bg-light-color);
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.02);
  transition: 0.15s ease-in-out;
}
.off-canvas .inline-search .frm-search:focus, .off-canvas .inline-search .frm-search:hover {
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}
.off-canvas .inline-search .frm-search input {
  font-size: 14px;
  border: none;
  width: 100%;
  height: 100%;
}
.off-canvas .inline-search .frm-search button[type=submit] {
  position: absolute;
  right: 6px;
  top: 50%;
  translate: 0 -50%;
  color: var(--text-color);
}
.off-canvas .inline-search .frm-search button[type=submit]:hover {
  color: var(--color-white);
}
.off-canvas .menu.vertical {
  transform: translateZ(3px);
}
.off-canvas .menu.vertical a {
  display: inline-block;
}
.off-canvas .menu.vertical a:hover {
  color: var(--color-white);
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent {
  position: relative;
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent > a {
  margin-right: calc(var(--spacing) * 8);
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle {
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle {
  width: 1.625rem;
  height: 1.625rem;
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle::after, .off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(var(--spacing) * 3);
  background-color: var(--text-color);
  transition: 0.15s ease-in-out;
  rotate: 0deg;
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle::after, .off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle::before {
  position: absolute;
  top: calc(50% - 0.0625rem);
  left: calc(50% - 0.375rem);
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle::after, .off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle::before {
  width: 0.75rem;
  height: 0.125rem;
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle[aria-expanded=false]::after {
  transform-origin: center;
  rotate: -90deg;
}
.off-canvas .menu.vertical li.is-accordion-submenu-parent .submenu-toggle .submenu-toggle-text {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  overflow-wrap: normal !important;
  white-space: nowrap;
}
.off-canvas .menu.vertical li .menu.submenu {
  padding-right: 0;
  font-size: 15px;
}
.off-canvas.is-transition-overlap {
  z-index: 1000001;
}
.off-canvas.is-closed {
  visibility: hidden;
}
.off-canvas.is-open {
  visibility: visible;
  transform: translate(0) translateZ(3px);
}
.off-canvas.is-open .menu-lines {
  opacity: 1;
}
.off-canvas.is-open .menu-lines .line {
  transform-origin: center;
}
.off-canvas.is-open .menu-lines .line.line-1 {
  transition-delay: 0.15s;
  rotate: -45deg;
}
.off-canvas.is-open .menu-lines .line.line-2 {
  transition-delay: 0.3s;
  rotate: 45deg;
}

.is-off-canvas-open {
  overflow: hidden;
}

.js-off-canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s ease, visibility 0.15s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.js-off-canvas-overlay.is-visible {
  opacity: 1;
  visibility: visible;
}
.js-off-canvas-overlay.is-closable {
  cursor: pointer;
}
.js-off-canvas-overlay.is-overlay-fixed {
  position: fixed;
}

.submenu.menu {
  display: none;
}

.is-dropdown-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  min-width: 260px;
  background-color: #1d1d1d;
  border-radius: var(--radius-md);
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
  padding-block: calc(var(--spacing) * 4);
  padding-inline: calc(var(--spacing) * 3);
}
.is-dropdown-submenu.js-dropdown-active {
  display: block;
}
.is-dropdown-submenu > li {
  width: 100%;
}
.is-dropdown-submenu > li a {
  position: relative;
  display: flex;
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 2);
  border-radius: var(--radius-md);
  border: 1px solid transparent;
}
.is-dropdown-submenu > li a:hover {
  background-color: #2c2c2c;
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.09);
}

.is-dropdown-submenu-parent {
  position: relative;
}
.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
  right: auto;
  left: 100%;
}
.is-dropdown-submenu-parent.opens-left > .is-dropdown-submenu {
  right: 100%;
  left: auto;
}
.is-dropdown-submenu-parent.is-dropdown-submenu-item > a::after {
  content: "";
  position: absolute;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  rotate: -45deg;
  top: 50%;
  margin-top: -3px;
  transition: 0.15s;
  right: calc(var(--spacing) * 3);
}
.is-dropdown-submenu-parent.is-dropdown-submenu-item > a::after {
  width: 0.375rem;
  height: 0.375rem;
}
.is-dropdown-submenu-parent.is-dropdown-submenu-item.opens-left > a::after {
  rotate: 135deg;
}
.is-dropdown-submenu-parent:hover > a {
  color: var(--color-white);
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
  top: 100%;
  right: auto;
  left: 0;
}
.dropdown.menu > li.opens-left > .is-dropdown-submenu {
  top: 100%;
  right: 0;
  left: auto;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a {
  position: relative;
  padding-right: 16px;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  content: "";
  position: absolute;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  left: auto;
  right: 0;
  top: 50%;
  margin-top: -2px;
  rotate: 45deg;
  translate: 0 -50%;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  width: 0.5rem;
  height: 0.5rem;
}
.dropdown.menu > li.menu-mega > ul.submenu {
  padding-inline: 0;
}
.dropdown.menu > li.menu-mega > ul.submenu.js-dropdown-active {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.dropdown.menu > li.menu-mega > ul.submenu > li {
  padding-inline: calc(var(--spacing) * 3);
}
.dropdown.menu > li.menu-mega > ul.submenu > li > a::after {
  display: none;
}
.dropdown.menu > li.menu-mega > ul.submenu ul {
  display: block;
  position: static;
  border: none;
  padding-inline: 0;
  box-shadow: none;
  padding-block: 0;
  min-width: unset;
}
.dropdown.menu > li.menu-mega.col-2 > ul.submenu {
  min-width: 520px;
  left: -260px;
}
.dropdown.menu > li.menu-mega.col-2 > ul.submenu::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.09);
  height: 100%;
  top: 0;
  width: 1px;
  position: absolute;
  left: 50%;
}
.dropdown.menu > li.menu-mega.col-2 > ul.submenu > li {
  width: 50%;
}
.dropdown.menu > li.menu-mega.col-3 > ul.submenu {
  min-width: 780px;
  left: -390px;
}
.dropdown.menu > li.menu-mega.col-3 > ul.submenu::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.09);
  height: 100%;
  top: 0;
  width: 1px;
  position: absolute;
  left: 33.3333333333%;
}
.dropdown.menu > li.menu-mega.col-3 > ul.submenu::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.09);
  height: 100%;
  top: 0;
  width: 1px;
  position: absolute;
  right: 33.3333333333%;
}
.dropdown.menu > li.menu-mega.col-3 > ul.submenu > li {
  width: 33.3333333333%;
}

.menu.social-menu > li > a {
  display: block;
  color: #fff;
  transition: 0.15s ease-in-out;
}
.menu.social-menu > li > a:hover {
  opacity: 0.8;
  color: #c9c9c9;
}

.wpcf7-form .wpcf7-form-control-wrap {
  position: relative;
}
.wpcf7-form .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  color: var(--text-color-1);
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}

.off-canvas-content .menu-lines .line > span::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--text-color);
  position: absolute;
  left: 0;
}
.off-canvas-content .menu-lines .line > span.line-2::before {
  left: 0;
  width: 85%;
  transition: 0.15s ease-in-out;
}
.off-canvas-content .menu-lines:hover .line > span::before {
  background-color: #fff;
}
.off-canvas-content .menu-lines:hover .line > span.line-2::before {
  width: 100%;
}

.accordion .accordion-item {
  border: 1px solid transparent;
}
.accordion .accordion-item .accordion-title svg {
  right: 0;
  top: 50%;
  translate: 0 -50%;
  color: var(--text-color-2);
}
.accordion .accordion-item .accordion-title svg.minus {
  display: none;
}
.accordion .accordion-item .accordion-title svg.plus {
  display: block;
}
.accordion .accordion-item .accordion-content {
  display: none;
}
.accordion .accordion-item.is-active .accordion-title svg.minus {
  display: block;
}
.accordion .accordion-item.is-active .accordion-title svg.plus {
  display: none;
}
.accordion .accordion-item.is-active, .accordion .accordion-item:hover {
  background-color: #1d1d1d;
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
}
.accordion .accordion-item.is-active .accordion-title svg, .accordion .accordion-item:hover .accordion-title svg {
  color: var(--text-color-1);
}
.accordion[disabled] .accordion-title {
  cursor: not-allowed;
}

/* index.scss */
/* partials/_header.scss */
.top-header a:hover {
  color: var(--color-white);
}

/** */
.masthead .site-logo {
  transition: 0.15s ease-in-out;
}
.masthead .site-logo img.custom-logo {
  width: auto;
  display: block;
  filter: brightness(0) invert(1) brightness(0.81) saturate(0);
}
.masthead .site-logo img.custom-logo {
  max-height: 4rem;
}
.masthead .site-logo:hover img {
  filter: inherit;
}

/* index.scss */
/* partials/_footer.scss */
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-logo img {
  max-height: 40px;
}
.footer-logo .logo-title {
  line-height: 1;
  color: var(--header-text-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.1px;
}
.footer-logo .logo-title:hover {
  color: var(--color-white);
}

/** */
.seo-footer .footer-address a:hover {
  color: var(--color-white);
}

.footer-menu ul.menu a:hover {
  color: var(--color-white);
}

/** */
.newsletter-footer .wpcf7-form .c-wpcf7-form-submit {
  align-items: center;
  gap: 12px;
  display: flex;
}
.newsletter-footer .wpcf7-form .c-wpcf7-form {
  gap: calc(var(--spacing) * 4);
  flex-direction: column;
  display: flex;
}
.newsletter-footer .wpcf7-form .c-wpcf7-form > label {
  display: block;
}
.newsletter-footer .wpcf7-form .c-wpcf7-form > label .wpcf7-form-control-wrap input {
  width: 100%;
  color: #fff;
  padding-block: 12px;
  padding-inline: 16px;
  border-radius: var(--radius-md);
  font-size: 15px;
  background: var(--bg-light-color);
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.02);
  transition: 0.15s ease-in-out;
}
@media only screen and (min-width: 64rem) {
  .newsletter-footer .wpcf7-form .c-wpcf7-form > label .wpcf7-form-control-wrap input {
    padding-block: 16px;
  }
}
.newsletter-footer .wpcf7-form .c-wpcf7-form > label .wpcf7-form-control-wrap input:focus, .newsletter-footer .wpcf7-form .c-wpcf7-form > label .wpcf7-form-control-wrap input:hover {
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}
.newsletter-footer .wpcf7-form .c-wpcf7-form > label .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  padding-top: 8px;
}
.newsletter-footer .wpcf7-form .c-wpcf7-form .c-wpcf7-form-submit .wpcf7-submit {
  padding: 8px 24px;
  font-size: 15px;
  font-weight: 700;
  border-radius: var(--radius-md);
  transition: 0.15s ease-in-out;
  border: 1px solid var(--text-color-1);
  color: var(--text-color);
  cursor: pointer;
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
  font-family: var(--font-header);
}
.newsletter-footer .wpcf7-form .c-wpcf7-form .c-wpcf7-form-submit .wpcf7-submit:hover {
  border-color: var(--text-color-2);
  color: #fff;
}
.newsletter-footer .wpcf7-form .c-wpcf7-form .c-wpcf7-form-submit .wpcf7-spinner {
  margin: 0;
  background-color: rgba(201, 201, 201, 0.4);
}
.newsletter-footer .wpcf7-form .wpcf7-response-output {
  border: none;
  padding: 0;
  margin: 24px 0 0 0;
  font-size: 14px;
  color: var(--text-color);
}

.policy-nav .menu-thumb > a {
  align-items: center;
}
.policy-nav .menu-thumb > a > img {
  display: block;
  width: 28px;
}