/* utils/_variables.scss */
/* utils/_functions.scss */
/** $string - svg */
/** add unique id image url */
/** https://webdesign.tutsplus.com/tutorials/an-introduction-to-error-handling-in-sass--cms-19996 */
/** font size */
/* utils/_mixins.scss */
.section.section-recent-posts .swiper .swiper-slide {
  height: auto;
}
.section.section-recent-posts .swiper .swiper-slide {
  width: calc(83.3333333333% - 0.125rem);
}
@media only screen and (min-width: 40rem) {
  .section.section-recent-posts .swiper .swiper-slide {
    width: calc(50% - 0.75rem);
  }
}
@media only screen and (min-width: 64rem) {
  .section.section-recent-posts .swiper .swiper-slide {
    width: calc(33.3333333333% - 1rem);
  }
}

.section.section-feedback .swiper .swiper-slide {
  height: auto;
}
.section.section-feedback .swiper .swiper-slide {
  width: calc(83.3333333333% - 0.125rem);
}
@media only screen and (min-width: 40rem) {
  .section.section-feedback .swiper .swiper-slide {
    width: calc(50% - 0.75rem);
  }
}

.section.section-press .swiper .swiper-slide {
  height: auto;
}
.section.section-press .swiper .swiper-slide {
  width: calc(83.3333333333% - 0.125rem);
}
@media only screen and (min-width: 40rem) {
  .section.section-press .swiper .swiper-slide {
    width: calc(50% - 0.75rem);
  }
}
@media only screen and (min-width: 48rem) {
  .section.section-press .swiper .swiper-slide {
    width: calc(33.3333333333% - 1rem);
  }
}
.section.section-press .swiper-controls .swiper-button {
  background-color: #fefefe;
  border: 1px solid rgba(0, 0, 0, 0.0784313725);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.0509803922);
  border-radius: var(--radius-md);
  color: var(--text-color);
}
.section.section-press .swiper-controls .swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.section-press .swiper-controls .swiper-button {
  width: 2.75rem;
  height: 2.75rem;
}
@media only screen and (max-width: 39.99875rem) {
  .section.section-press .swiper-controls .swiper-button {
    display: none;
  }
}
.section.section-press .swiper-controls .swiper-button svg {
  width: 1.5rem;
  height: 1.5rem;
}
.section.section-press .swiper-controls .swiper-button:hover {
  border-color: var(--text-color-1);
  color: var(--text-color-1);
}
.section.section-press .swiper-controls .swiper-button.swiper-button-prev {
  left: 0;
}
.section.section-press .swiper-controls .swiper-button.swiper-button-next {
  right: 0;
}

.section.section-services .tabs {
  scrollbar-width: thin;
}
.section.section-services .tabs .tabs-title > a:hover {
  border-color: var(--text-color-1);
  box-shadow: 0 4px 29px -9px var(--text-color-1);
}
.section.section-services .tabs .tabs-title > a:focus, .section.section-services .tabs .tabs-title > a[aria-selected=true] {
  color: var(--text-color);
  border-color: var(--text-color-1);
  box-shadow: 0 4px 29px -9px var(--text-color-1);
}
.section.section-services .tabs .tabs-title.is-active > a {
  background-color: var(--text-color-1);
  color: var(--color-white);
  border-color: var(--text-color-1);
  box-shadow: 0 4px 29px -9px var(--text-color-1);
}

.section.section-services-extra .tabs .tabs-title > a:hover {
  border-color: var(--text-color-1);
}
.section.section-services-extra .tabs .tabs-title.is-active > a {
  color: var(--color-white);
  border-color: var(--text-color-1);
  box-shadow: 0 4px 29px -9px var(--text-color-1);
  background-color: var(--text-color-1);
}

.section.section-projects .swiper .swiper-slide {
  height: auto;
}
.section.section-projects .swiper .swiper-slide {
  width: 100%;
}
@media only screen and (min-width: 40rem) {
  .section.section-projects .swiper .swiper-slide {
    width: calc(50% - 0.75rem);
  }
}

:where(.dark, .dark *) .section.section-press .swiper-controls .swiper-button {
  background-color: #1d1d1d;
  border: 1px solid rgba(255, 255, 255, 0.0588235294);
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.0392156863);
}