/* tailwind/components/index.css */

@layer components {
    .c-light-bg {
        border-top: 1px solid rgba(255, 255, 255, 0.06);
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.02);
        background-color: var(--bg-light-color)
    }

    .c-light-button {
        background-color: #1d1d1d;
        border: 1px solid rgba(255, 255, 255, 0.06);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
    }

    .c-cover {
        position: relative;
        display: block;
        overflow: hidden;
        transition: all .3s ease-in-out;
        width: 100%;
    }

    .c-scale-effect {
        scale: 1.0001;
        will-change: scale;
        transition: scale .8s cubic-bezier(.25, .46, .45, .94), opacity .3s;

        &:hover {
            scale: 1.06;
            opacity: 1;
        }
    }

    input[type="number"] {
        &.c-input-text {
            appearance: textfield;

            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

    }

    .c-hover {
        @apply transition ease-in-out;
    }

    .c-back-to-top {
        @apply flex items-center justify-center fixed z-999 border rounded opacity-0 transition-opacity data-[show=true]:opacity-100;
    }

    .c-hotline {
        @apply flex items-center animate-pulse hover:animate-none px-3 py-[6px] gap-1 rounded-md font-bold leading-none text-(--color-white) bg-(--text-color-1) hover:bg-(--text-color-2);
    }

    .c-text-gradient {
        @apply text-transparent bg-clip-text bg-(image:--bg-right-gradient);
    }
}
