/* partials/_base.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

//
// Base styles.

body {
    background-image: none;
    background-position: center top 40px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

// aspect-ratio.
.as-1-1 {
    aspect-ratio: 1 / 1;
}

.as-3-2 {
    aspect-ratio: 3 / 2;
}

.as-4-3 {
    aspect-ratio: 4 / 3;
}

.as-16-9 {
    aspect-ratio: 16 / 9;
}

// .off-canvas
.position-left {
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    width: 320px;
    transform: translate(-320px);
}

.position-right {
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    width: 320px;
    transform: translate(320px);
}

.off-canvas {
    transition: transform .15s ease;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.04);

    .menu-lines {
        transition: .15s ease-in-out;
        transform: translateZ(3px);

        .line {
            background-color: currentColor;
            transition: rotate 0.5s ease, background-color 0.15s ease;
        }

        &:hover {
            .line {
                background-color: #000;
            }
        }
    }

    .title-bar-title {
        transform: translateZ(3px);
    }

    .inline-search {
        .frm-search {
            position: relative;
            width: 100%;
            color: #000;
            padding-block: calc(var(--spacing) * 3);
            padding-inline: calc(var(--spacing) * 9) calc(var(--spacing) * 3);
            border-radius: var(--radius-md);
            background: var(--bg-light-color);
            border: 1px solid rgba(0, 0, 0, 0.16);
            box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.02);
            transition: 0.15s ease-in-out;

            &:focus, &:hover {
                box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.1);
                border-color: rgba(0, 0, 0, 0.5);
            }

            input {
                font-size: 14px;
                border: none;
                width: 100%;
                height: 100%;
            }

            button[type="submit"] {
                position: absolute;
                left: 8px;
                top: 50%;
                translate: 0 -50%;
                color: var(--text-color);

                &:hover {
                    color: #000;
                }
            }
        }
    }

    .menu.vertical {
        transform: translateZ(3px);

        a {
            display: inline-block;

            &:hover {
                color: #000;
            }
        }

        li {
            &.is-accordion-submenu-parent {
                position: relative;

                & > a {
                    margin-right: calc(var(--spacing) * 8);
                }

                .submenu-toggle {
                    right: 0;
                    top: 0;
                    position: absolute;
                    cursor: pointer;
                    @include mixin.box(26);

                    &::after, &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: calc(var(--spacing) * 3);
                        background-color: var(--text-color);
                        transition: .15s ease-in-out;
                        rotate: 0deg;
                        @include mixin.absolute-center-self(12, 2);
                    }

                    &[aria-expanded="false"] {
                        &::after {
                            transform-origin: center;
                            rotate: -90deg;
                        }
                    }

                    .submenu-toggle-text {
                        @include mixin.hidden-text;
                    }
                }
            }

            .menu.submenu {
                padding-right: 0;
                font-size: 15px;

                & > li {
                    padding-block: 8px;
                    margin-left: 12px;
                }
            }
        }
    }

    &.is-transition-overlap {
        z-index: 1000001;
    }

    &.is-closed {
        visibility: hidden;
    }

    &.is-open {
        visibility: visible;
        transform: translate(0) translateZ(3px);

        .menu-lines {
            opacity: 1;

            .line {
                transform-origin: center;

                &.line-1 {
                    transition-delay: 0.15s;
                    rotate: -45deg;
                }

                &.line-2 {
                    transition-delay: 0.3s;
                    rotate: 45deg;
                }
            }
        }
    }
}

.is-off-canvas-open {
    overflow: hidden;
}

.js-off-canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    transition: opacity .15s ease, visibility .15s ease;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    &.is-visible {
        opacity: 1;
        visibility: visible;
    }

    &.is-closable {
        cursor: pointer;
    }

    &.is-overlay-fixed {
        position: fixed;
    }
}

// .dropdown.menu
.submenu.menu {
    display: none;
}

.is-dropdown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    min-width: 260px;
    background-color: #f1f1f1;
    border-radius: var(--radius-md);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.04);
    padding-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 3);

    &.js-dropdown-active {
        display: block;
    }

    & > li {
        width: 100%;

        a {
            position: relative;
            display: flex;
            padding-inline: calc(var(--spacing) * 3);
            padding-block: calc(var(--spacing) * 2);
            border-radius: var(--radius-md);
            border: 1px solid transparent;

            &:hover {
                background-color: #e6e6e6;
                box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.04);
                border-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}

.is-dropdown-submenu-parent {
    position: relative;

    &.opens-right {
        & > .is-dropdown-submenu {
            right: auto;
            left: 100%;
        }
    }

    &.opens-left {
        & > .is-dropdown-submenu {
            right: 100%;
            left: auto;
        }
    }

    &.is-dropdown-submenu-item {
        & > a {
            &::after {
                content: '';
                position: absolute;
                border-right: 2px solid currentColor;
                border-bottom: 2px solid currentColor;
                rotate: -45deg;
                top: 50%;
                margin-top: -3px;
                transition: 0.15s;
                right: calc(var(--spacing) * 3);
                @include mixin.box(6);
            }
        }

        &.opens-left {
            & > a {
                &::after {
                    rotate: 135deg;
                }
            }
        }
    }

    &:hover {
        & > a {
            color: var(--text-color-1);
        }
    }
}

.dropdown.menu {
    & > li {
        &.opens-right {
            & > .is-dropdown-submenu {
                top: 100%;
                right: auto;
                left: 0;
            }
        }

        &.opens-left {
            & > .is-dropdown-submenu {
                top: 100%;
                right: 0;
                left: auto;
            }
        }

        &.is-dropdown-submenu-parent {
            & > a {
                position: relative;
                padding-right: 16px;

                &::after {
                    content: '';
                    position: absolute;
                    border-right: 2px solid currentColor;
                    border-bottom: 2px solid currentColor;
                    left: auto;
                    right: 0;
                    top: 50%;
                    margin-top: -2px;
                    rotate: 45deg;
                    translate: 0 -50%;
                    @include mixin.box(8);
                }
            }
        }

        &.menu-mega {
            & > ul.submenu {
                padding-inline: 0;

                &.js-dropdown-active {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-start;
                }

                & > li {
                    padding-inline: calc(var(--spacing) * 3);

                    & > a {
                        &::after {
                            display: none;
                        }
                    }
                }

                ul {
                    display: block;
                    position: static;
                    border: none;
                    padding-inline: 0;
                    box-shadow: none;
                    padding-block: 0;
                    min-width: unset;
                }
            }

            &.col-2 {
                & > ul.submenu {
                    min-width: 520px;
                    left: -260px;

                    &::before {
                        content: '';
                        background-color: rgba(0, 0, 0, 0.08);
                        height: 100%;
                        top: 0;
                        width: 1px;
                        position: absolute;
                        left: 50%;
                    }

                    & > li {
                        width: 50%;
                    }
                }
            }

            &.col-3 {
                & > ul.submenu {
                    min-width: 780px;
                    left: -390px;

                    &::before {
                        content: '';
                        background-color: rgba(0, 0, 0, 0.08);
                        height: 100%;
                        top: 0;
                        width: 1px;
                        position: absolute;
                        left: 33.3333333333333333%;
                    }

                    &::after {
                        content: '';
                        background-color: rgba(0, 0, 0, 0.08);
                        height: 100%;
                        top: 0;
                        width: 1px;
                        position: absolute;
                        right: 33.3333333333333333%;
                    }

                    & > li {
                        width: 33.3333333333333333%;
                    }
                }
            }
        }
    }
}

// .social-menu
.menu.social-menu {
    & > li {
        & > a {
            display: block;
            color: #fff;
            transition: 0.15s ease-in-out;

            &:hover {
                opacity: 0.8;
                color: #c9c9c9;
            }
        }
    }
}

// .wpcf7-form
.wpcf7-form {
    .wpcf7-form-control-wrap {
        position: relative;

        .wpcf7-not-valid-tip {
            color: var(--text-color-1);
            font-size: 12px;
            text-align: center;
            padding-top: 8px;
        }
    }
}

// .menu-lines
.off-canvas-content {
    .menu-lines {
        .line {
            & > span {
                &::before {
                    content: '';
                    height: 1px;
                    width: 100%;
                    background-color: var(--text-color);
                    position: absolute;
                    left: 0;
                }

                &.line-2 {
                    &::before {
                        left: 0;
                        width: 85%;
                        transition: 0.15s ease-in-out;
                    }
                }
            }
        }

        &:hover {
            .line {
                & > span {
                    &::before {
                        background-color: #000;
                    }

                    &.line-2 {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// .accordion
.accordion {
    .accordion-item {
        border: 1px solid transparent;

        .accordion-title {
            svg {
                right: 0;
                top: 50%;
                translate: 0 -50%;
                color: var(--text-color-2);

                &.minus {
                    display: none;
                }

                &.plus {
                    display: block;
                }
            }
        }

        .accordion-content {
            display: none;
        }

        &.is-active {
            .accordion-title {
                svg {
                    &.minus {
                        display: block;
                    }

                    &.plus {
                        display: none;
                    }
                }
            }
        }

        &.is-active, &:hover {
            background-color: #fefefe;
            border: 1px solid #00000014;
            box-shadow: inset 0 0 12px #0000000d;

            .accordion-title {
                svg {
                    color: var(--text-color-1);
                }
            }
        }
    }

    &[disabled] {
        .accordion-title {
            cursor: not-allowed;
        }
    }
}

// tabs
.tabs-content {
    .tabs-panel {
        display: none;

        &.is-active {
            display: block;
        }
    }
}

// .dark-mode
:where(.dark, .dark *) {
    body {
        background-image: url("../../img/bg.png");
    }

    .off-canvas-content {
        .menu-lines {
            &:hover {
                .line {
                    & > span {
                        &::before {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }

    .off-canvas {
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);

        .title-bar-title {
            .mobile-logo-link {
                img {
                    filter: brightness(0) invert(1) brightness(0.81) saturate(0);
                }

                &:hover {
                    img {
                        filter: inherit;
                    }
                }
            }
        }

        .inline-search {
            .frm-search {
                color: #fff;
                border: 1px solid rgba(255, 255, 255, 0.16);
                box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.02);

                &:focus, &:hover {
                    box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.1);
                    border-color: rgba(255, 255, 255, 0.5);
                }

                button[type="submit"] {
                    &:hover {
                        color: var(--color-white);
                    }
                }
            }
        }

        .menu.vertical {
            a {
                &:hover {
                    color: var(--color-white);
                }
            }
        }
    }

    .is-dropdown-submenu {
        background-color: #1d1d1d;
        border: 1px solid rgba(255, 255, 255, 0.09);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);

        & > li {
            a {
                &:hover {
                    background-color: #2c2c2c;
                    box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
                    border-color: rgba(255, 255, 255, 0.09);
                }
            }
        }
    }

    .is-dropdown-submenu-parent {
        &:hover {
            & > a {
                color: var(--color-white);
            }
        }
    }

    .dropdown.menu {
        & > li {
            &.menu-mega {
                &.col-2 {
                    & > ul.submenu {
                        &::before {
                            content: '';
                            background-color: rgba(255, 255, 255, 0.09);
                        }
                    }
                }

                &.col-3 {
                    & > ul.submenu {
                        &::before {
                            background-color: rgba(255, 255, 255, 0.09);
                        }

                        &::after {
                            background-color: rgba(255, 255, 255, 0.09);
                        }
                    }
                }
            }
        }
    }

    .accordion {
        .accordion-item {
            &.is-active, &:hover {
                background-color: #1d1d1d;
                border: 1px solid rgba(255, 255, 255, 0.06);
                box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
            }
        }
    }
}
