/* partials/_footer.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

//
// Footer styles.

.footer-logo {
    margin-bottom: 20px;

    a {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    img {
        max-height: 40px;
    }

    .logo-title {
        line-height: 1;
        color: var(--header-text-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: -0.1px;

        &:hover {
            color: var(--color-white);
        }
    }
}

/** */
.seo-footer {
    .footer-address {
        a {
            &:hover {
                color: var(--color-white);
            }
        }
    }
}

.footer-menu {
    ul.menu {
        a {
            &:hover {
                color: var(--color-white);
            }
        }
    }
}

/** */
.newsletter-footer {
    .wpcf7-form {
        .c-wpcf7-form-submit {
            align-items: center;
            gap: 12px;
            display: flex;
        }

        .c-wpcf7-form {
            gap: calc(var(--spacing) * 4);
            flex-direction: column;
            display: flex;

            & > label {
                display: block;

                .wpcf7-form-control-wrap {
                    input {
                        width: 100%;
                        color: #fff;
                        padding-block: 12px;
                        padding-inline: 16px;
                        border-radius: var(--radius-md);
                        font-size: 15px;
                        background: var(--bg-light-color);
                        border: 1px solid rgba(255, 255, 255, 0.16);
                        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.02);
                        transition: 0.15s ease-in-out;

                        @include mixin.mq-min(lg) {
                            padding-block: 16px;
                        }

                        &:focus, &:hover {
                            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.1);
                            border-color: rgba(255, 255, 255, 0.5);
                        }
                    }

                    .wpcf7-not-valid-tip {
                        padding-top: 8px;
                    }
                }
            }

            .c-wpcf7-form-submit {
                .wpcf7-submit {
                    padding: 8px 24px;
                    font-size: 15px;
                    font-weight: 700;
                    border-radius: var(--radius-md);
                    transition: 0.15s ease-in-out;
                    border: 1px solid var(--text-color-1);
                    color: var(--text-color);
                    cursor: pointer;
                    box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);
                    font-family: var(--font-header);

                    &:hover {
                        border-color: var(--text-color-2);
                        color: #fff;
                    }
                }

                .wpcf7-spinner {
                    margin: 0;
                    background-color: rgba(201, 201, 201, 0.4);
                }
            }
        }

        .wpcf7-response-output {
            border: none;
            padding: 0;
            margin: 24px 0 0 0;
            font-size: 14px;
            color: var(--text-color);
        }
    }
}
