/* partials/_header.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

//
// Header styles.

.masthead {
    position: absolute;
    top: var(--sticky-top, 0);
    left: 0;
    right: 0;
    z-index: 999;

    &.is-sticky {
        top: 0;
        position: fixed;
        background-color: var(--bg-color);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .site-logo {
        transition: .15s ease-in-out;

        img.custom-logo {
            width: auto;
            display: block;
            @include mixin.media-css(max-height, 64);
        }
    }
}

.site-header {
    position: relative;
}

.masthead-placeholder {
    height: var(--navbar-height, 0);
}

//
/** dark mode */
//

:where(.dark, .dark *) {
    .top-header {
        a {
            &:hover {
                color: var(--color-white);
            }
        }
    }

    .masthead {
        .site-logo {
            img.custom-logo {
                filter: brightness(0) invert(1) brightness(0.81) saturate(0);
            }

            &:hover {
                img {
                    filter: inherit;
                }
            }
        }
    }

    .masthead {
        &.is-sticky {
            border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        }
    }
}
