/* partials/_header.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

//
// Header styles.

.masthead {
    position: absolute;
    top: var(--sticky-top, 41px);
    left: 0;
    right: 0;
    z-index: 999;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
    transition: background-color 0.15s ease, border-color 0.15s ease;
    border-bottom: 1px solid transparent;

    &.is-sticky {
        top: 0;
        position: fixed;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.03);
        background-color: #F8F8F8;
    }

    .site-logo {
        transition: .15s ease-in-out;

        img.custom-logo {
            width: auto;
            display: block;
            @include mixin.media-css(max-height, 54, false, 60, 64);
        }
    }

    .dropdown-search {
        display: flex;
        flex: 0 0 auto;
        position: relative;

        .dropdown-trigger {
            transition: 0.3s;
            background-color: #f4f4f4;
            border: 1px solid rgba(0, 0, 0, 0.06);
            box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.02);
            cursor: pointer;
            border-radius: var(--radius-md);
            @include mixin.flex-center;
            @include mixin.box(42);

            & > span {
                @include mixin.hidden-text;
            }

            &.hover {
                border-color: var(--text-color-1);
                color: var(--text-color-1);
            }

            &:hover {
                box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.08);
            }
        }

        .dropdown-pane {
            @include mixin.mq-max(sm) {
                right: 12px !important;
                left: 12px !important;
            }
        }

        .frm-container {
            position: relative;

            [type="search"] {
                color: var(--text-color);
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: var(--radius-md);
                height: 44px;
                padding: 0 16px 0 44px;
                font-size: 15px;
                width: 100%;

                &:hover {
                    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.08);
                }

                &:focus {
                    border-color: rgba(0, 0, 0, 0.5);
                }
            }

            [type="submit"] {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(0 0 0 / 50%);

                &:hover {
                    color: var(--text-color);
                }

                span {
                    @include mixin.hidden-text;
                }
            }
        }
    }
}

body.admin-bar {
    .masthead.is-sticky {
        top: 32px;

        @include mixin.mq-max-width(782px) {
            top: 46px;
        }

        @include mixin.mq-max-width(600px) {
            position: absolute;
            top: var(--sticky-top, 41px);
        }
    }
}

.site-header {
    position: relative;
}

.masthead-placeholder {
    height: var(--navbar-height, 89px);
}

#main-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .dropdown.menu.horizontal-menu {
        flex-wrap: nowrap;
        white-space: nowrap;

        li a {
            white-space: wrap;
        }

        & > li {
            & > a {
                height: 100%;
                white-space: nowrap;
            }

            &.more {
                & > a {
                    font-size: 0;
                    position: relative;
                    @include mixin.flex-center;

                    &::after {
                        content: '';
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-size: contain;
                        mask-image: func.inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="3" d="M6 12h.01m6 0h.01m5.99 0h.01"/></svg>');
                        rotate: none;
                        border: none;
                        background-color: var(--text-color);
                        margin-top: 0;
                        @include mixin.box(28);
                    }
                }
            }
        }
    }
}

.nav-container {
    flex: 1 1 0;
    min-width: 0;

    @include mixin.mq-max(lg) {
        display: none;
    }
}

//
/** dark mode */
//
:where(.dark, .dark *) {
    .top-header {
        a {
            &:hover {
                color: var(--color-white);
            }
        }
    }

    .masthead {
        &.is-sticky {
            border-bottom: 1px solid rgba(255, 255, 255, 0.06);
            box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.02);
            background-color: #1A1A1A;
        }

        //.site-logo {
        //    img.custom-logo {
        //        filter: brightness(0) invert(1) brightness(0.82) saturate(0);
        //    }
        //
        //    &:hover {
        //        img {
        //            filter: inherit;
        //        }
        //    }
        //}

        .dropdown-search {
            .dropdown-trigger {
                background-color: #1d1d1d;
                border: 1px solid rgba(255, 255, 255, 0.06);
                box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.04);

                &:hover {
                    box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.08);
                }
            }

            .frm-container {
                [type="search"] {
                    background-color: rgb(255 255 255 / 8%);
                    border: 1px solid rgb(255 255 255 / 12%);
                    box-shadow: inset 0 0 12px rgb(255 255 255 / 5%);

                    &:hover {
                        box-shadow: inset 0 0 12px rgb(255 255 255 / 8%);
                    }

                    &:focus {
                        border-color: rgb(255 255 255 / 50%);
                    }
                }

                [type="submit"] {
                    color: rgb(255 255 255 / 70%);

                    &:hover {
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}
