/* partials/_header.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

//
// Header styles.

.top-header {
    a {
        &:hover {
            color: var(--color-white);
        }
    }
}

/** */
.masthead {
    .site-logo {
        transition: .15s ease-in-out;

        img.custom-logo {
            width: auto;
            display: block;
            filter: brightness(0) invert(1) brightness(0.81) saturate(0);
            @include mixin.media-css(max-height, 64);
        }

        &:hover {
            img {
                filter: inherit;
            }
        }
    }
}