/* partials/home.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

//
// Home layout.

.section.section-feedback {
    .swiper {
        .swiper-slide {
            height: auto;
            @include mixin.flex-self(1, 1, 12);

            @include mixin.mq-min(md) {
                @include mixin.flex-self(2, 1, 24);
            }
        }
    }
}

.section.section-press {
    .swiper {
        .swiper-slide {
            height: auto;
            @include mixin.flex-self(2, 1, 12);

            @include mixin.mq-min(md) {
                @include mixin.flex-self(3, 1, 24);
            }
        }
    }

    .swiper-controls {
        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: var(--text-color);
            }
        }

        .swiper-button {
            background-color: #1d1d1d;
            border: 1px solid #ffffff0f;
            box-shadow: inset 0 0 12px #ffffff0a;
            border-radius: var(--radius-md);
            color: var(--text-color);

            @include mixin.flex-center;
            @include mixin.box(44);

            svg {
                @include mixin.box(24);
            }

            &:hover {
                border-color: var(--text-color-1);
                color: var(--text-color-1);
            }

            &.swiper-button-prev {
                left: 0;
            }

            &.swiper-button-next {
                right: 0;
            }
        }
    }
}

.section.section-services {
    .tabs {
        .tabs-title {
            & > a {
                &:hover {
                    border-color: var(--text-color-1);
                    box-shadow: 0 4px 29px -9px var(--text-color-1);
                }

                &:focus, &[aria-selected=true] {
                    color: var(--color-white);
                    border-color: var(--text-color-1);
                    box-shadow: 0 4px 29px -9px var(--text-color-1);
                }
            }
        }
    }
}
