/* tailwind/base.css */

@layer base {
    body {
        @apply font-light text-(length:--global-fs) bg-(--bg-color) text-(--text-color) leading-(--global-line-height);
    }

    :is(
        [type='submit']:not(:disabled),
        [type='reset']:not(:disabled),
        [type='button']:not(:disabled),
        [role="button"]:not(:disabled)
    ) {
        cursor: pointer;
    }

    *:hover {
        transition: all .2s ease-in-out;
    }

    *:disabled {
        @apply cursor-not-allowed opacity-[0.8];
    }

    :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
        font-size: inherit;
        font-weight: inherit;
        font-family: var(--font-header);
        color: var(--header-text-color);
        line-height: var(--header-line-height);
    }

    :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) a {
        text-decoration: none;
        display: inline-block;
        color: currentColor;
    }

    :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) p {
        color: currentColor;
        line-height: inherit;
        margin-bottom: 0;
    }

    :is(a, area, button, [role="button"], input, label, select, summary, textarea) {
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        outline: none;
    }

    * > p {
        overflow-wrap: break-word;
        margin-top: 0;
        line-height: inherit;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    :is(span, label) > a:hover {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none;
    }

    a :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
        color: currentColor;
    }

    img {
        @apply pointer-events-none select-none;
    }

    img:not([src]) {
        visibility: hidden;
    }

    img:where(.aligncenter, .align-center) {
        @apply mx-auto;
    }

    picture {
        @apply block pointer-events-none select-none;
    }

    picture img {
        display: block;
    }

    figure {
        max-width: 100% !important;
    }

    figure:where(.wp-caption, .caption) {
        display: block;
    }

    figure:where(.aligncenter, .align-center) {
        @apply mx-auto text-center mb-4;
    }

    figure:where(.wp-caption-text, .caption-text) {
        @apply pt-3 text-(--header-text-color);
    }

    [data-fa]::before {
        content: attr(data-fa);
        font-family: var(--font-awesome);
    }

    [data-fa-after]::after {
        content: attr(data-fa-after);
        font-family: var(--font-awesome);
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }
}
