/* tailwind/base.css */

@layer base {
    body {
        @apply font-light text-(length:--global-fs) bg-(--bg-color) text-(--text-color) leading-(--global-line-height);
    }

    :is([type='submit']:not(:disabled), [type='reset']:not(:disabled), [type='button']:not(:disabled), [role="button"]:not(:disabled)) {
        @apply cursor-pointer;
    }

    *:disabled {
        @apply cursor-not-allowed opacity-[0.8];
    }

    :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
        @apply antialiased font-(family-name:--font-header) text-(--header-text-color) leading-(--header-line-height);
        font-weight: inherit;

        a {
            @apply no-underline inline-block text-current;
        }

        p {
            @apply text-current leading-[inherit];
        }
    }

    :is(h1, .h1) {
        @apply p-fs-clamp-h1;
    }

    :is(h2, .h2) {
        @apply p-fs-clamp-h2;
    }

    :is(h3, .h3) {
        @apply p-fs-clamp-h3;
    }

    :is(h4, .h4) {
        @apply p-fs-clamp-h4;
    }

    :is(h5, .h5) {
        @apply p-fs-clamp-h5;
    }

    :is(h6, .h6) {
        @apply p-fs-clamp-h6;
    }

    :is(a, area, button, [role="button"], input, label, select, summary, textarea) {
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        outline: none;
    }

    * > p {
        @apply wrap-break-word mt-0 leading-[inherit];

        &:not(:last-child) {
            @apply mb-4;
        }

        &:last-child {
            @apply mb-0;
        }
    }

    a:hover {
        @apply no-underline;
    }

    a :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
        @apply text-current;
    }

    img {
        @apply pointer-events-none select-none;

        &:not([src]) {
            @apply invisible;
        }

        &:where(.aligncenter, .align-center) {
            @apply mx-auto;
        }
    }

    picture {
        @apply block pointer-events-none select-none;

        img {
            @apply block;
        }
    }

    figure {
        @apply !max-w-full;

        &:where(.wp-caption, .caption) {
            @apply block;
        }

        &:where(.aligncenter, .align-center) {
            @apply mx-auto text-center mb-4;
        }

        &:where(.wp-caption-text, .caption-text) {
            @apply pt-3 text-(--header-text-color);
        }
    }

    [data-fa]::before {
        @apply content-[attr(data-fa)] font-(family-name:--font-awesome);
    }

    [data-fa-after]::after {
        @apply content-[attr(data-fa-after)] font-(family-name:--font-awesome);
    }

    [data-content]::before {
        @apply content-[attr(data-content)];
    }

    [data-content-after]::after {
        @apply content-[attr(data-content-after)];
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }
}
