@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --color {
    syntax: '<color>';
    inherits: false;
    initial-value: #ffffff;
}

@property --percentage {
    syntax: '<length-percentage>';
    inherits: false;
    initial-value: 0%;
}

:root {
    --black: #000000;
    --angle: 0deg;
    --color: #ffffff;
}